{% extends 'layout.html' %}

{% block title %}صفحه اصلی{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row clearfix">
        <div class="col-12" style="height: 300px">
            <div class="card h-100">
                <div class="body">
                    <div style="position: absolute; transform: translate(-50%,-50%); left: 50%; top: 50%">
                        خوش آمدید
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
